<div class="container">
    <h2>
        Welcome to MyDataBase2
    </h2>
   
<button (click)="viewData()" class="btn btn-primary">View DataBase 2</button>
<div *ngIf="viewOrHide">

 <table class="table">
   <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">USER ID</th>
       <th scope="col">TITLE</th>
       <th scope="col">BODY</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let data of pstDetails">
       <td>{{data.id}}</td>
       <td>{{data.userId}}</td>
       <td>{{data.title}}</td>
       <td>{{data.body}}</td>
     </tr>
     
   </tbody>
</table>
</div>
   </div>
